/.idea
.env
/api/__pycache__
api/__pycache__/api.cpython-312.pyc
/data/__pycache__
/api/__pycache__
api/__pycache__/api.cpython-312.pyc
/api/__pycache__
/enums/__pycache__
Screenshot 2026-04-06 222208.png
Screenshot 2026-04-06 222245.png
*.pyc
*.pyc
/api/__pycache__
api/__pycache__/api.cpython-312.pyc
data/create table.py
